/* body, h1, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #007BFF;
}

input[type="nome"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cadastro {
    width: 80%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cadastro:hover {
    background-color: #0056b3;
}

.façaseulogin {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}

.façaseulogin a {
    color: #007BFF;
    text-decoration: none;
}

.façaseulogin a:hover {
    text-decoration: underline;
}

.esqueciminhasenha {
    display: flex;
    justify-content: center;
} */

/* cadastro.css */

body {
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.registro h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.registro input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.registro input:focus {
    border-color: #007bff;
    outline: none;
}

/* .registro button.cadastro {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.registro button.cadastro:hover {
    background-color: #0056b3;
}

.façaseulogin {
    margin-top: 15px;
    color: #777;
    font-size: 14px;
}

.façaseulogin a {
    color: #007bff;
    text-decoration: none;
}

.façaseulogin a:hover {
    text-decoration: underline;
}
