/*  */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
}

/* perfi */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

/*  */
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*  */
h1 {
    color: #0B78D0;
    font-size: 1.5rem;
    margin: 0;
}

/* estrutura do meio */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    overflow-y: auto;
}

/* perfil tutor */
h2 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/*  */
.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/*  */
.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/*  */
.change-photo {
    color: #92e4eb;
    /* text-decoration: none; */
    font-size: 0.9rem;
}

/*  */
.change-photo:hover {
    text-decoration: underline;
}

/*  */
.form-group {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

/*  */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/*  */
input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*  */
.pet-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

/*  */
.pet-tag {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*  barra de navegação*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #0B78D0;
}

/*  */
.footer-icon {
    width: 30px;
    height: 30px;
}

